@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


:root {
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;

    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;


  --smallText: 5px;
  --backgroundColor: var(--grey);
  --textColor: var(--dark);
  --borderRadius: 8px;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1320px;
  --fixed-width: 1000px;

}


::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


body {
    background: var(--grey);
    overflow-x: hidden;
    font-family: var(--poppins);
  }



h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  max-width: 1120px;
  background: #fff;
  border-radius: 8px;
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 0rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey);
  font-size: 1rem;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
.input-container {
  margin: 1em 0em;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--blue);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.775em 1.25em;
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  text-transform: capitalize;
  display: inline-block;
  font-size: 1rem;
}
.btn:hover {
  background: var(--blue);
  box-shadow: var(--shadow-3);
}
.btn-success {
  background-color: green;
  color: var(--white);
}
.btn-warning {
  background-color: var(--yellow);
  color: #060714;
}
.btn-danger {
  background-color: var(--red);
  color: var(--white);
}
.btn-checkin {
  margin: 1em;
}
/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
  padding: 1em;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
  }
  #sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width 0.3s ease;
  }
  #sidebar .side-menu li a.logout {
    color: var(--red);
  }
  #sidebar .side-menu.top li a:hover {
    color: var(--blue);
  }
  #sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
  }


  /* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
  }


  /* CONTENT */
#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: 0.3s ease;
  }
  #sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
  }
  






  /* MAIN */
#content .section-dashboard {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
  }
  #content .section-dashboard .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
  }
  #content .section-dashboard .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
  }
  #content .section-dashboard .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
  }
  #content main .head-title .left .breadcrumb li {
    color: var(--dark);
  }
  #content .section-dashboard .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
  }
  #content .section-dashboard .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
  }
  #content .section-dashboard .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
  }
  
  .box-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  
  .box-info li {
    background-color: white;
    padding: 1em;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box-info-icons {
    color: #3c91e6;
    font-size: 10px;
  }
  
  .box-info h3 {
    text-align: center;
    font-size: 2rem;
  }



  /* Login container */

  .login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0 30px;
  
  }



  table{
    width: 100%;
    /* border-collapse: collapse; */
    margin: 1em 0em;
  }
  table thead tr th{
    text-align: left;
    padding: 0.5em 1em;
    margin: 2em 0em;
    background: var(--light);
    color: var(--dark);
    font-weight: 500;
    font-size: 0.9em;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }
  table tbody tr td{
    padding: 0.5em 1em;
    margin: 2em 0em;
    background: var(--light);
    color: var(--dark);
    font-weight: 500;
    font-size: 0.9em;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }
  td{
    margin: 2em;
  }
  table tbody tr td a{
    color: var(--blue);
  }
  table tbody tr td a:hover{
    color: var(--blue);
  }
  
  
  .open{
    color:#fff;
    background-color: #3c91e6;
  }
  table tbody tr td .btn{
    padding: 0.5em 1em;
    border-radius: 8px;
    background: var(--blue);
    color: var(--light);
    font-size: 0.9em;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    transition: var(--transition);
  }
  table tbody tr td .btn:hover{
    background: var(--blue);
    box-shadow: var(--shadow-3);
  }
  table tbody tr td .btn-success{
    background: green;
  }
  table tbody tr td .btn-warning{
    background: var(--yellow);
    color: #060714;
  }
  table tbody tr td .btn-danger{
    background: var(--red);
  }
  table tbody tr td .btn-checkin{
    margin: 1em;
  }
  table tbody tr td .btn-checkin:hover{
    background: var(--blue);
    box-shadow: var(--shadow-3);
  }
  table tbody tr td .btn-checkout{
    margin: 1em;
  }
  table tbody tr td .btn-checkout:hover{
    background: var(--blue);
    box-shadow: var(--shadow-3);
  }
  table tbody tr td .btn-delete{
    margin: 1em;
  }
  table tbody tr td .btn-delete:hover{
    background: var(--blue);
    box-shadow: var(--shadow-3);
  }
  table tbody tr td .btn-edit{
    margin: 1em;
  }
  table tbody tr td .btn-edit:hover{
    background: var(--blue);
    box-shadow: var(--shadow-3);
  }
  table tbody tr td .btn-view{
    margin: 1em;
  }
  table tbody tr td .btn-view:hover{
    background: var(--blue);
    box-shadow: var(--shadow-3);
  }
  table tbody tr td .btn-approve{
    margin: 1em;
  }
  table tbody tr td .btn-approve:hover{
    background: var(--blue);
    box-shadow: var(--shadow-3);
  }
  table tbody tr td .btn-decline{
    margin: 1em;
  }
  table tbody tr td .btn-decline:hover{
    background: var(--blue);
    box-shadow: var(--shadow-3);
  }


  